
.footer__list {
	display: flex;
	justify-content: flex-start;
	flex-flow: row nowrap;
	list-style-type: none;
	padding: 0;
}
.footer__list-item {
	margin-right: 20px;
	line-height: 18px;
}
.footer__list-link {
	text-decoration: none;
	color: #003569;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
}
.footer__info {
	font-size: 12px;
	color: #999;
	margin-bottom: 0;
}


