<div class="user-image" data-id={{image.id}} imageHover>
	<app-modal-images *ngIf = 'isModalImageVisible' (isConfirmed) = "closeModal($event)"> </app-modal-images>
  <a class = "user-image__link" routerLink = 'image/{{image.id}}' (click) = "showModal()">
	<div class="user-image__image-wrapper">
		<img class = 'image' src="{{image.images.low_resolution.url}}" alt="{{image.alt}}">
		<div class="user-image__hover">
			<div class="user-image__likes-comments">
				<span class="icon likes"></span>
				<span class="number">{{image.likes}}</span>
			</div>
			<div class="user-image__likes-comments">
				<span class="icon comment"></span>
				<span class="number">{{image.comments}}</span>
			</div>
	</div>
	</div>
	</a>
</div>

