<div class="modal-details">
	<div class="modal-details__image-wrapper">
		<img class= "modal-details__image" src={{userImage.images.standard_resolution.url}} alt={{userImage.alt}}>
	</div>
	
	<div class="modal-details__comments">
		<div class="modal_details__wrapper">
			<a class="modal-details__link" routerLink = 'dima_kapustiuk'>
			<img  class="modal-details__photo" src={{userImage.user.profile_picture}} alt="">
		</a>
		<div class="modal-details__user-info">
			<p class="modal-details__name">{{userImage.user.username}}</p>
			<p class="modal-details__location">{{userImage.location.name}}</p>
		</div>
		</div>
		
	</div>
</div>
