*{
	box-sizing: border-box;
  font-family: "Segoe UI";
}
.grid-wrapper {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 210px;
}
app-footer {
   justify-self: center;
  align-self: end
}

router-outlet {
	display: none;
}
